Source: debian-sec
Section: contrib/admin
Priority: extra
Maintainer: Tim Brown <timb@nth-dimension.org.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.nth-dimension.org.uk/
Vcs-Svn: https://projects.nth-dimension.org.uk/subversion/debian-sec/trunk
Vcs-Browser: https://projects.nth-dimension.org.uk/projects/debian-sec/activity

Package: debian-sec
Architecture: all
Depends: ${misc:Depends}, security-client, security-develop, security-emulate, security-encrypt, security-enumerate, security-forensics, security-fuzz, security-host, security-misc, security-sniff, security-tunnel, security-wardrive
Recommends: security-client-oldstable, security-wardrive-oldstable, security-host-nonfree, security-mobile, security-noncontainer
Description: security packages
 This package will install the packages for Debian, for security testing

Package: security-client
Architecture: all
Depends: ${misc:Depends}, arping, arp-scan, bind9-host, cadaver, cdpr, curl, ipmitool, isc-dhcp-client, dnsutils, dnswalk, finger, fpdns, ftp-ssl, hydra, icmpush, ike-scan, jxplorer, ldap-utils, lft, lynx, minicom, miniupnpc, mtr, mysql-client, nbtscan, ncftp, nfs-common, nikto, nis, ntpdate, openssh-client, openssl, freerdp-x11, rsh-client, rusers, rwho, s3270, scanssh, siege, skipfish, smbclient, smb-nat, snmp, socat, sipcrack, sqlite3, sqlmap, sqsh, ssmping, tcptraceroute, telnet, tftp, upnp-router-control, w3af, w3m, wapiti, wget, whois, x3270, xnest, xtv, x11-utils, x11-apps
Description: security protocol specific client packages
 This package will install the protocol specific client packages for Debian,
 for security testing

Package: security-client-oldstable
Architecture: all
Section: non-free/admin
Depends: ${misc:Depends}
Recommends: 
Description: security oldstable protocol specific client packages
 This package will install the oldstable protocol specific client packages
 for Debian, for security testing.

Package: security-server
Architecture: all
Depends: ${misc:Depends}, apache2, dante-server, dnsmasq, mysql-server, nfs-kernel-server, openssh-server, rsh-server, rwhod, samba, tftpd, vsftpd
Recommends: php, php-cli, php-db, phpmyadmin, php-pear
Description: security protocol specific server packages
 This package will install the protocol specific server packages for Debian,
 for security testing

Package: security-enumerate
Architecture: all
Depends: ${misc:Depends}, creepy, dhcp-probe, doscan, netwox, nmap, p0f, pnscan, wakeonlan, xprobe
Description: security host enumeration packages
 This package will install the host enumeration packages for Debian, for
 security testing

Package: security-host
Architecture: all
Depends: ${misc:Depends}, arpwatch, auditd, bridge-utils, chkrootkit, clamav, debsecan, ebtables, htop, icmpinfo, inotify-tools, iotop, iptables, lsof, macchanger, rkhunter, sucrack, sudo, tcpd, vlan, vlock, yasat
Description: security local host packages
 This package will install the local host packages for Debian, for security
 testing

Package: security-host-nonfree
Architecture: all
Depends: ${misc:Depends}
Recommends: 
Description: security nonfree local host packages
 This package will install the nonfree local host packages for Debian, for
 security testing

Package: security-sniff
Architecture: all
Depends: ${misc:Depends}, bustle, dsniff, hunt, nast, netsniff-ng, ngrep, snort, ssldump, tcpdump, ttysnoop, vusb-analyzer, wireshark
Description: security traffic sniffing packages
 This package will install the traffic sniffing packages for Debian, for
 security testing

Package: security-tunnel
Architecture: all
Depends: ${misc:Depends}, 6tunnel, corkscrew, dns2tcp, httptunnel, ipsec-tools, miredo, miredo-server, openvpn, privoxy, ptunnel, racoon, stunnel4, tor, tsocks, udptunnel, vpnc
Description: security traffic tunneling packages
 This package will install the traffic tunneling packages for Debian, for
 security testing

Package: security-encrypt
Architecture: all
Depends: ${misc:Depends}, aeskeyfind, bkhive, fcrackzip, gnupg, heartbleeder, john, libesedb-utils, ophcrack, paperkey, pdfcrack, pyrit, python-libesedb, rarcrack, rsakeyfind, samdump2, signing-party, sleuthkit, sslscan
Recommends: wamerican, wamerican-large, wamerican-small, wbritish, wbritish-large, wbritish-small 
Description: security data encryption packages
 This package will install the data encryption packages for Debian, for
 security testing

Package: security-fuzz
Architecture: all
Depends: ${misc:Depends}, afl, bfbtester, bittwist, corekeeper, crashme, exabgp, fusil, fuzz, goldeneye, hping3, mz, netsed, packeth, packit, python-hachoir-core, python-hachoir-metadata, python-hachoir-parser, python-hachoir-urwid, python-hachoir-wx, python-impacket, python-scapy, sendip, thc-ipv6, trinity, vbindiff, vttest, yersinia, zzuf
Description: security fuzzing packages
 This package will install the fuzzing packages for Debian, for security
 testing

Package: security-develop
Architecture: all
Depends: ${misc:Depends}, arduino, autoconf, automake, binutils, build-essential, coccinelle, cgvg, cppcheck, cvs, dumpasn1, expect, ckport, flasm, flawfinder, git, hexcurse, latrace, lldb, ltrace, mksh, monodevelop, mtasc, nasm, nemiver, patch, perl, pscan, python, python-capstone, radare2, ruby, seascope, scanmem, shellcheck, strace, subversion, default-jre, swfmill, tcl8.6, valgrind, vim
Description: security tool and exploit development packages
 This package will install the tool and exploit development packages for
 Debian, for security testing

Package: security-wardrive
Architecture: all
Depends: ${misc:Depends}, aircrack-ng, bluetooth, bluez-hcidump, btscanner, hackrf, hamradio-sdr, hamradio-datamodes, hamradio-digitalvoice, hamradio-morse, hostapd, kismet, obexftp, pyrit, reaver, wifite, weplab, wireless-tools, wpasupplicant
Description: security bluetooth and wifi wardriving packages
 This package will install the bluetooth and wifi wardriving packages
 for Debian, for security testing

Package: security-wardrive-oldstable
Architecture: all
Depends: ${misc:Depends}
Description: security oldstable bluetooth and wifi wardriving packages
 This package will install the oldstable bluetooth and wifi wardriving
 packages for Debian, for security testing

Package: security-emulate
Architecture: all
Depends: ${misc:Depends}, bochs, dosbox, gns3, hercules, qemu, skyeye
Description: security host emulation packages
 This package will install the host emulation packages for Debian, for
 security testing

Package: security-misc
Architecture: all
Depends: ${misc:Depends}, geoip-bin, ipcalc, ipv6calc
Description: security miscellaneous packages
 This package will install the miscellaneous packages for Debian, for
 security testing

Package: security-forensics
Architecture: all
Depends: ${misc:Depends}, binwalk, dcfldd, ext3grep, extundelete, fatcat, foremost, ocrad, u3-tool, volatility, yara
Description: security forensics packages
 This package will install the forensics packages for Debian, for
 security testing

Package: security-mobile
Architecture: all
Depends: ${misc:Depends}, abootimg, android-tools-adb, android-tools-fastboot, androidsdk-ddms, androidsdk-hierarchyviewer, androidsdk-traceview, androidsdk-uiautomatorviewer, google-android-build-tools-installer, google-android-sdk-docs-installer, libusbmuxd-tools, mtp-tools, mtpfs
Description: security mobile packages
 This package will install the mobile packages for Debian, for
 security testing

Package: security-noncontainer
Architecture: all
Depends: ${misc:Depends}, corekeeper, auditd, security-server
Description: security noncontainer packages
 This package will install the noncontainer packages for Debian, for
 security testing
